<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4F0ijPDV8GkiyYscL_oSJKWWIYTXhc3A</string>
	<key>GCM_SENDER_ID</key>
	<string>187718743439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartHome</string>
	<key>PROJECT_ID</key>
	<string>smart-home-b7b3f</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-home-b7b3f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187718743439:ios:374b165938a8ee6582c7fa</string>
</dict>
</plist>